
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/sign_in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 May 2020 22:09:51 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Cursus - Sign In</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="images/fav.png">
    <!-- Stylesheets -->
    <link href='~/template/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="~/template/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="~/template/css/style.css" rel="stylesheet">
    <link href="~/template/css/responsive.css" rel="stylesheet">
    <link href="~/template/css/night-mode.css" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="~/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/template/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="~/template/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/template/vendor/semantic/semantic.min.css">

</head>

<body>
    <!-- Signup Start -->
    <div class="sign_in_up_bg">
        <div class="container">
            <div class="row justify-content-lg-center justify-content-md-center">
                <div class="col-lg-12">
                    <div class="main_logo25" id="logo">
                        <a href="anasayfa"><img src="~/image/dsBuffer.bmp.png" style="width:60%" alt=""></a>  
                    </div>
                </div>

                <div class="col-lg-6 col-md-8">
                    <div class="sign_form">
                        <h2>Hoşgeldiniz</h2>
                        <p>Zil hesabınıza giriş yapınız!</p> 
                        <form>
                            <div class="ui search focus mt-15">
                                <div class="ui left icon input swdh95">
                                    <input class="prompt srch_explore" type="email" name="emailaddress" value="" id="email" required="" maxlength="64" placeholder="Email Adres">
                                    <i class="uil uil-envelope icon icon2"></i>
                                </div>
                            </div>
                            <div class="ui search focus mt-15">
                                <div class="ui left icon input swdh95">
                                    <input class="prompt srch_explore" type="password" name="password" value="" id="password" required="" maxlength="64" placeholder="Şifre">
                                    <i class="uil uil-key-skeleton-alt icon icon2"></i>
                                </div>
                            </div>
                            <div class="col-md-6" id="divError" style="text-align: right; color: orangered">
                                <span id="spanhata" />
                            </div>
                            <button type="button" class="btn btn-primary btn-block btn-c mt-4 mb-4" id="btnLogin"><span id="spanBtnLoginText">Oturum Aç</span></button>

                        </form>
                        <p class="sgntrm145"> <a href="forgot_password.html">Şifremi Unuttum</a>.</p>
                        <p class="mb-0 mt-30 hvsng145">Hesabın Yok Mu? <a href="kayit-ol">Kayıt Ol</a></p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- Signup End -->
    <script src="~/template/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/Util/Ajax.js"></script>
    <script src="~/js/signup/LogIn.js"></script>



    <script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/template/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="~/template/vendor/semantic/semantic.min.js"></script>
    <script src="~/template/js/custom.js"></script>
    <script src="~/template/js/night-mode.js"></script>

</body>

<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/sign_in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 May 2020 22:09:51 GMT -->
</html>
