@using Microsoft.Extensions.Caching.Memory;
@using Zil.Client;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zil</title>


    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="~/image/favicon.ico">
    <!-- Stylesheets -->
    <link href='~/template/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="~/template/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="~/template/css/style.css" rel="stylesheet">
    <link href="~/template/css/responsive.css" rel="stylesheet">
    <link href="~/template/css/night-mode.css" rel="stylesheet">


    <!-- Vendor Stylesheets -->
    <link href="~/template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/template/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="~/template/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/template/vendor/semantic/semantic.min.css">
</head>
<body>



    <!-- Header Start -->
    <header class="header clearfix">
        <button type="button" id="toggleMenu" class="toggle_menu">
            <i class='uil uil-bars'>deneme</i>
        </button>
        <button id="collapse_menu" class="collapse_menu">
            <i class="uil uil-bars collapse_menu--icon "></i>
            <span class="collapse_menu--label"></span>
        </button>
        <div class="main_logo" id="logo">
            <a href="/anasayfa"><img src="~/image/dsBuffer.bmp.png" alt="" style="width: 39%"></a> 
        </div>
        <div class="search120">
            <div class="ui search">
                <div class="ui left icon input swdh10">
                    <input class="prompt srch10" type="text" placeholder="Videoları, Eğitmenleri ve daha fazlasını arayın...">
                    <i class='uil uil-search-alt icon icon1'></i>
                </div>
            </div>
        </div>
        <div class="header_right">
            <ul>
                @if (Settings.cache.Get("UserName") != null)
                {
                    <li>
                        <a href="kurs-olustur" class="upload_btn">Kurs Oluştur</a>
                    </li>

                    <li>
                        <a href="anasayfa" class="option_links"><i class='uil uil-home-alt'></i><span class="noti_count">9+</span></a>
                    </li>

                    <li class="ui dropdown">
                        <a href="#" class="option_links"><i class='uil uil-envelope-alt'></i><span class="noti_count">3</span></a>
                        <div class="menu dropdown_ms">
                            <a href="#" class="channel_my item">
                                <div class="profile_link">
                                    <img src="~/template/images/left-imgs/img-6.jpg" alt="">
                                    <div class="pd_content">
                                        <h6>Zoena Singh</h6>
                                        <p>Hi! Sir, How are you. I ask you one thing please explain it this video price.</p>
                                        <span class="nm_time">2 min ago</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="channel_my item">
                                <div class="profile_link">
                                    <img src="~/template/images/left-imgs/img-5.jpg" alt="">
                                    <div class="pd_content">
                                        <h6>Joy Dua</h6>
                                        <p>Hello, I paid you video tutorial but did not play error 404.</p>
                                        <span class="nm_time">10 min ago</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="channel_my item">
                                <div class="profile_link">
                                    <img src="~/template/images/left-imgs/img-8.jpg" alt="">
                                    <div class="pd_content">
                                        <h6>Jass</h6>
                                        <p>Thanks Sir, Such a nice video.</p>
                                        <span class="nm_time">25 min ago</span>
                                    </div>
                                </div>
                            </a>
                            <a class="vbm_btn" href="instructor_messages.html">View All <i class='uil uil-arrow-right'></i></a>
                        </div>
                    </li>

                    <li class="ui dropdown">
                        <a href="#" class="option_links"><i class='uil uil-bell'></i><span class="noti_count">3</span></a>
                        <div class="menu dropdown_mn">
                            <a href="#" class="channel_my item">
                                <div class="profile_link">
                                    <img src="~/template/images/left-imgs/img-1.jpg" alt="">
                                    <div class="pd_content">
                                        <h6>Rock William</h6>
                                        <p>Like Your Comment On Video <strong>How to create sidebar menu</strong>.</p>
                                        <span class="nm_time">2 min ago</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="channel_my item">
                                <div class="profile_link">
                                    <img src="~/template/images/left-imgs/img-2.jpg" alt="">
                                    <div class="pd_content">
                                        <h6>Jassica Smith</h6>
                                        <p>Added New Review In Video <strong>Full Stack PHP Developer</strong>.</p>
                                        <span class="nm_time">12 min ago</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="channel_my item">
                                <div class="profile_link">
                                    <img src="~/template/images/left-imgs/img-9.jpg" alt="">
                                    <div class="pd_content">
                                        <p> Your Membership Approved <strong>Upload Video</strong>.</p>
                                        <span class="nm_time">20 min ago</span>
                                    </div>
                                </div>
                            </a>
                            <a class="vbm_btn" href="instructor_notifications.html">View All <i class='uil uil-arrow-right'></i></a>
                        </div>
                    </li>



                    <li class="ui dropdown">
                        <a href="#" class="opts_account">
                            <img src="~/template/images/hd_dp.jpg" alt="">
                        </a>
                        <div class="menu dropdown_account">
                            <div class="channel_my">
                                <div class="profile_link">
                                    <img src="~/template/images/hd_dp.jpg" alt="">
                                    <div class="pd_content">
                                        <div class="rhte85">
                                            <h6>@Settings.cache.Get("UserName")</h6>
                                            <div class="mef78" title="Verify">
                                                <i class='uil uil-check-circle'></i>
                                            </div>
                                        </div>
                                        <span>@Settings.cache.Get("UserEmail")</span>
                                    </div>
                                </div>
                                <a href="my_instructor_profile_view.html" class="dp_link_12">Profil</a>
                            </div>
                              
                            <a href="ayarlar" class="item channel_item">Ayarlar</a>
                            <a href="help.html" class="item channel_item">Yardım</a>
                            <a href="/" id="SignOut" onclick="SignOut()" class="item channel_item">Çıkış Yap</a>
                        </div>
                    </li>

                }


            </ul>
        </div>
    </header>
    <!-- Header End -->
    <!-- Left Sidebar Start -->
    <nav class="vertical_nav">
        <div class="left_section menu_left" id="js-menu">
            <div class="left_section">
                <ul>
                    <li class="menu--item">
                        <a href="index.html" class="menu--link active" title="Home">
                            <i class='uil uil-home-alt menu--icon'></i>
                            <span class="menu--label">Anasayfa</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="explore.html" class="menu--link" title="Explore">
                            <i class='uil uil-search menu--icon'></i>
                            <span class="menu--label">Kurs Bul</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="categories.html" class="menu--link" title="Categories">
                            <i class='uil uil-layers menu--icon'></i>
                            <span class="menu--label">Kategoriler</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="saved_courses.html" class="menu--link" title="Saved Courses">
                            <i class="uil uil-heart-alt menu--icon"></i>
                            <span class="menu--label">Kurslarım</span>
                        </a>
                    </li>

                    @if (Settings.cache.Get("UserName") == null)
                    {
                        <li class="menu--item">
                            <a href="giris-yap" class="menu--link" title="Saved Courses">
                                <i class="uil uil-enter menu--icon"></i>
                                <span class="menu--label">Giriş Yap</span>
                            </a>
                        </li>

                        <li class="menu--item">
                            <a href="kayit-ol" class="menu--link" title="Kayıt">
                                <i class="uil uil-registered menu--icon"></i>
                                <span class="menu--label">Kayıt Ol</span>
                            </a>
                        </li>
                    }

                </ul>
            </div>
            <div class="left_section">
                <h6 class="left_title">Eğitmenler</h6>
                <ul>

                    <li class="menu--item">
                        <a href="instructors" class="menu--link" title="Browse Instructors">
                            <i class='uil uil-plus-circle menu--icon'></i>
                            <span class="menu--label">Eğitmen Keşfet</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="left_section pt-2">
                <ul>
                    <li class="menu--item">
                        <a href="setting.html" class="menu--link" title="Setting">
                            <i class='uil uil-cog menu--icon'></i>
                            <span class="menu--label">Ayarlar</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="help.html" class="menu--link" title="Help">
                            <i class='uil uil-question-circle menu--icon'></i>
                            <span class="menu--label">Yardım</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="report_history.html" class="menu--link" title="Report History">
                            <i class='uil uil-windsock menu--icon'></i>
                            <span class="menu--label">Hata Raporla</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="feedback.html" class="menu--link" title="Send Feedback">
                            <i class='uil uil-comment-alt-exclamation menu--icon'></i>
                            <span class="menu--label">Geri Bildirim</span>
                        </a>
                    </li>
                   
                </ul>
            </div>
            <div class="left_footer">
                <div class="left_footer_content">
                    <p>© 2022 <strong>Tez</strong>. İstanbulAydın.</p>
                </div>
            </div>
        </div>
    </nav>
    <!-- Left Sidebar End -->




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/template/js/jquery-3.3.1.min.js"></script>
    <script src="~/template/js/vertical-responsive-menu.min.js"></script>
    <script src="~/template/js/jquery-3.3.1.min.js"></script>
    <script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/template/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="~/template/vendor/semantic/semantic.min.js"></script>
    <script src="~/template/js/custom.js"></script>
    <script src="~/template/js/night-mode.js"></script>




    <script src="~/js/Util/Ajax.js"></script>

    <script>
        $("#SignOut").click(function () {

            var data = {
                "SignOut": true,
            }
             
            Util.Ajax.Generic("ajax-signout-log", data, "POST", "json", false, null, success, null, null);

            function success(status) {
                if (status.operation == "Success") {
                    window.location.href = 'anasayfa';
                }
            }
        });
    </script>

</body>
</html>
